<div *ngIf="viewMode === 0">
    <button (click)="changeViewMode(1)"> Add New Warehouse</button>
</div>

<!-- View Mode-->
<div *ngIf="viewMode === 0">
  <table class="table table-striped table-hover">
          <thead class="table-dark table-responsive">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Capacity</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let warehouse of warehouses" (click)="getWarehouseDetailStock(warehouse)">
                  <th class="align-middle">{{warehouse.id}}</th>
                  <th class="align-middle">{{warehouse.warehouseName}}</th>
                  <th class="align-middle">{{warehouse.warehouseLocation}}</th>
                  <th class="align-middle">{{warehouse.warehouseCapacity}}</th>
                  <th class="align-middle">
                    <div class="btn-group p-1">
                      <button type="button" class="btn btn-outline-secondary" (click)="getWarehouseSelected(warehouse);changeViewMode(2)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" border="blue" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                      </button>
                      <button type="button" class="btn btn-outline-secondary" (click)="getWarehouseSelected(warehouse)"data-bs-toggle="modal" data-bs-target="#confirmationModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      </button>
                    </div>
                  </th>
                </tr>
            </tbody>
  </table>
  <!-- List Stock -->
  <div *ngIf="stocks.length > 0" class="highlight p-4">
    List of Stocks Available on {{currentWarehouse.warehouseName}}:
    <table class="table table-striped table-hover">
      <thead class="table-secondary table-responsive">
        <tr>
          <th scope="col">Asset Name</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks">
          <th class="align-middle">{{stock.assets.assetName}}</th>
          <th class="align-middle">{{stock.stock}}</th>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="stocks.length === 0">
    Warehouse is Empty!
  </div>
</div>

<!-- Insert Mode-->
<div *ngIf="viewMode === 1">
  <form [formGroup]="inputForm">
    <p>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" formControlName="name">
    </p>
    <p>
      <label for="location">Location</label>
      <input type="text" id="location" name="location" formControlName="location">
    </p>
    <p>
      <label for="capacity">Capacity</label>
      <input type="number" id="capacity" name="capacity" formControlName="capacity">
    </p>
    <button type="button" (click)="addWarehouse()" data-bs-toggle="modal" data-bs-target="#warehouseModal">
      Submit New Warehouse
    </button>
  </form>
</div>

<!-- Edit Mode-->
<div *ngIf="viewMode === 2">
  <form [formGroup]="updateForm">
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label" for="id">Id</label>
      <div class="col-sm-12 col-md-10">
        <input [disabled]="true"  type="text" id="id" name="id" value="{{currentWarehouse.id}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label" for="name">Name</label>
      <div class="col-sm-12 col-md-10">
        <input type="text" id="name" name="name" formControlName="name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label" for="location">Location</label>
      <div class="col-sm-12 col-md-10">
        <input type="text" id="location" name="location" formControlName="location">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label" for="capacity">Capacity</label>
      <div class="col-sm-12 col-md-10">
        <input type="number" id="capacity" name="capacity" formControlName="capacity">
      </div>
    </div>
    <button type="button" (click)="editWarehouse()" data-bs-toggle="modal" data-bs-target="#warehouseModal">
      Submit New Warehouse
    </button>
  </form>
</div>

<!-- Notification -->
<div class="modal fade" id="warehouseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" [hidden]="!errorNotification">
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
          <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
          <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
        <div class="modal-body">
          <div class="ps-2" >
            {{messageAfterSubmit}}
          </div>
        </div>
      </div>
  </div>
  <div class="modal-dialog" [hidden]="!successNotification">
    <div class="alert alert-success d-flex align-items-center" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      <div class="modal-body">
        <div class="ps-2">
          {{messageAfterSubmit}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation-->
<div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModal">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to delete {{currentWarehouse.warehouseName}} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
        <button type="button" class="btn btn-primary" (click)="deleteWarehouse(currentWarehouse.id)" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>