<div class="container">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
              <th scope="col">Barcode</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Information</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of assets">
                <th>{{asset.barcode}}</th>
                <th>{{asset.assetName}}</th>
                <th>{{asset.assetDescription}}</th>
                <th>{{asset.assetInformation}}</th>
            </tr>
          </tbody>
    </table>
</div>